<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper" style="background-color: #343a40;"
    [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading text-white">Knoldus
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action text-white" style="background-color: #343a40;"><span
          class="menu-icon">
          <i class="bi bi-house-door-fill"></i>
        </span>&nbsp;Home</a>
      <a href="#" class="list-group-item list-group-item-action text-white" style="background-color: #343a40;"><span
          class="menu-icon">
          <i class="bi bi-receipt-cutoff"></i>
        </span>&nbsp;Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action text-white" style="background-color: #343a40;"><span
          class="menu-icon">
          <i class="bi bi-journal-arrow-up"></i>
        </span>&nbsp;Overview</a>
      <a href="#" class="list-group-item list-group-item-action text-white" style="background-color: #343a40;"><span
          class="menu-icon">
          <i class="bi bi-calendar-event-fill"></i>
        </span>&nbsp;Events</a>
      <a href="#" class="list-group-item list-group-item-action text-white" style="background-color: #343a40;"><span
          class="menu-icon">
          <i class="bi bi-file-person"></i>
        </span>&nbsp;Profile</a>
      <a href="#" class="list-group-item list-group-item-action text-white" style="background-color: #343a40;"><span
          class="menu-icon">
          <i class="bi bi-radioactive"></i>
        </span>&nbsp;Status</a>
    </div>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg" style="background-color: #343a40;">

      <div class="container-fluid" style="background-color: #343a40;">
        <button class="btn bg-white" (click)="clickEvent()"><span class="sr-only">☰</span></button>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="button">Search</button>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">SideBar NavMenu Using Bootstrap</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on
        larger screens. When toggled using the button below, the menu will change.</p>
    </div>
  </div>
</div>
